/lib/
/bin/
/build/
/include/
/.idea/coastline-clicker.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/git_toolbox_prj.xml
/.idea/git_toolbox_prj.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_1_11_26,_3_37 PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_1_11_26,_3_44 PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_1_11_26,_3_44 PM_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_1_11_26__3_37PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_1_11_26__3_44PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_1_11_26__3_44PM__Changes_1.xml
